.goods {
    padding-top: 50px;
}

.goods-input {
    height: 38px;
    width: 200px;
    border: 2px solid #444444;
    padding-left: 5px;
}

.goods-button {
    height: 38px;
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #444444;
    background-color: white;
}

.goods-item {
    height: 375px;
    margin-bottom: 15px;
}

.block {
    width: 100%;
    height: 375px;
    text-align: center;
    // background-color: rgb(207, 207, 207);
    border: 1px solid #eeeeee;
    padding-top: 31px;
    /* padding-left: auto;
    padding-right: auto; */
    margin: 0 auto;
}

.goods-item_header{
    font-size: 15px;
    font-weight: bold;
}
.item-card_img{
    margin-bottom: 47px;
}

.goods-item_price{
    color: #e24545;
    font-size: 16px;
    font-weight: bold;
}
// .bi:hover{
//     color: red;
// }
.goods-item_btncrt{
   width: 40px;
   height: 40px;
   box-sizing: border-box;
   border: 1px solid #eeeeee;
   margin: 0;
   background-color: white;
   &:hover {
       background-color: #e24545;
       .bi{
          color: white;
       }
   }
}

