@import './header.scss';
@import './wishList.scss';
@import './storeSection.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@font-face{
    src: url(../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
}