.wish-h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
}

.breadCrum {
    display: block;
    width: 185px;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 0;
}

.mywish {
    height: 150px;
    padding-top: 58px;
    background-image: url(../images/path.png);
}
